<!DOCTYPE html>
<html ng-app="homeApp">
<head>
<meta charset="utf-8">
<link type="text/css" rel="stylesheet"
	href="/webjars/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<link href="../resources/css/simple-sidebar.css" rel="stylesheet">
<script type="text/javascript" src="/webjars/angularjs/1.5.8/angular.js"></script>
<script type="text/javascript" src="../resources/js/homeCtrl.js"></script>
<title>SYS TCC</title>
</head>
<body ng-controller="professorCtrl">
	<div id="wrapper">

		<!-- Sidebar -->
		<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
				<li class="sidebar-brand">
					<a href="/#/home"> SYSTCC </a>
				</li>
				<li><a href="/#/cadAluno">Aluno</a></li>
				<li><a href="/#/cadProf">Professor</a></li>
				<li><a href="/#/cadOrientacao">Orientação</a></li>
				<li><a href="/#/acompanhamentos">Acompanhamentos</a></li>
				<li><a href="#">Relatório</a></li>
				<li><a href="#">Sobre</a></li>
				<li><a href="#">Sair</a></li>
			</ul>
		</div>
		<!-- /#sidebar-wrapper -->

		<!-- Page Content -->
		<div id="page-content-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<form class="form-horizontal formProf" name="formCadProf">
						<!-- Text input-->
							<div class="form-group">
								<label class="col-md-2 control-label" >Nome: </label>
								<div class="col-md-4">
									<input  name="nome" ng-model="professor.nome" type="text"placeholder="Nome do Professor" class="form-control input-md"required="true">
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-2 control-label">Curso:</label>
								<div class="col-md-8">
									<spanc class="col-sm-6" ng-repeat="curso in cursos ">
								      <label class="checkbox" >
								        <input type="checkbox" ng-model="professor.curso[]"ng-click="selected(curso)"  />
								        {{curso.nome}}
								      </label>
								    </span>
								</div>
							</div>
							<!-- Text input-->
								<div class="form-group">
									<label class="col-md-2 control-label" for="matricula">Matrícula:</label>
									<div class="col-md-4">
										<input id="matricula" name="matricula" type="text"placeholder="Matrícula"ng-model="professor.matricula" class="form-control input-md"required="true">
									</div>
								</div>
								<!-- Text input-->
								<div class="form-group">
									<label class="col-md-2 control-label" for="email">Email:</label>
									<div class="col-md-4">
										<input id="email" name="email" type="text" placeholder="Email"class="form-control input-md"ng-model="professor.email" required="true">
									</div>
								</div>
								<!-- Button 2 -->
								<div class="form-group">
									<div class="col-md-10 col-md-offset-4">
										<button id="salvar" name="salvar" ng-click="salvar(professor)"class="btn btn-primary">Salvar</button>
										<button id="limpar" name="limpar"ng-click="limpar()" class="btn btn-default">Cancelar</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- /#page-content-wrapper -->
		</div>
		<!-- /#wrapper -->
	</body>
</html>


