<!DOCTYPE html>
<html ng-app="homeApp">
<head>
<meta charset="utf-8">
<link type="text/css" rel="stylesheet"
	href="/webjars/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<link href="../resources/css/simple-sidebar.css" rel="stylesheet">
<script type="text/javascript" src="/webjars/angularjs/1.5.8/angular.js"></script>
<script type="text/javascript" src="../resources/js/homeCtrl.js"></script>
<title>SYS TCC</title>
</head>
<body ng-controller="homeCtrl">
	<div id="wrapper">
		<!-- Sidebar -->
		<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
				<li class="sidebar-brand"><a href="/#/home"> SYSTCC </a></li>
				<li><a href="/#/cadAluno">Aluno</a></li>
				<li><a href="/#/cadProf">Professor</a></li>
				<li><a href="/#/cadOrientacao">Orientação</a></li>
				<li><a href="/#/acompanhamentos">Acompanhamentos</a></li>
				<li><a href="#">Relatório</a></li>
				<li><a href="#">Sobre</a></li>
				<li><a href="#">Sair</a></li>
			</ul>
		</div>
		<!-- /#sidebar-wrapper -->
		<!-- Page Content -->
		<div id="page-content-wrapper">
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="col-lg-12">
						<form class="form-horizontal form-cadAluno" name="formCadAluno">
							<!-- Text input-->
							<div class="form-group">
								<label class="col-md-2 control-label">Nome: </label>
								<div class="col-md-4">
									<input id="fn" name="aluno" ng-model="aluno.nome" type="text"placeholder="Nome do Aluno" class="form-control"required="true">
								</div>
							</div>
							<!-- Select Basic -->
							<div class="form-group">
								<label class="col-md-2 control-label">Curso:</label>
								<div class="col-md-4">
									<select class="form-control input-md" ng-model="aluno.curso" ng-options="curso.nome  for curso in cursos ">
										<option value="">Selecione Curso</option>
									</select>
								</div>
							</div>
							<!-- Text input-->
							<div class="form-group">
								<label class="col-md-2 control-label" >Matrícula:</label>
								<div class="col-md-4">
									<input id="matricula"  type="text"placeholder="Matrícula" name="matricula" ng-model="aluno.matricula"class="form-control input-md"required="true">
								</div>
							</div>
							<!-- Text input-->
							<div class="form-group">
								<label class="col-md-2 control-label" >Email:</label>
								<div class="col-md-4">
									<input  name="email" ng-model="aluno.email"type="email" placeholder="Email" class="form-control input-md" required="true">
								</div>
							</div>
							<!-- Button 1 -->
							<div class="form-group">
								<div class="col-md-8 col-md-offset-4">
									<button ng-click="salvarAluno(aluno)" name="salvar" ng-disabled="formCadAluno.$invalid"class="btn btn-primary ">Salvar</button>
									<button ng-click="limpar()" name="limpar" class="btn btn-default ">Limpar</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- /#page-content-wrapper -->

	</div>
	<!-- /#wrapper -->




</body>
</html>



